<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_ProductExport" setup_version="2.13.6">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Xtento_XtCore"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_ProductExport
 * ID:            74lh4gf/3iR4FOCfgHiVeQv8i+kXFfeTLzNvj9f+ewI=
 * Last Modified: 2020-05-04T12:28:28+00:00
 * File:          app/code/Xtento/ProductExport/etc/module.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->