<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenest>
            <couponcode>
                <website_id>1</website_id>
                <customer_group>1</customer_group>
                <is_active>1</is_active>
                <from_date>1</from_date>
                <to_date>1</to_date>
                <usage_limit>1</usage_limit>
                <usage_per_customer>1</usage_per_customer>
            </couponcode>
            <couponlisting>
                <enable>1</enable>
                <showField>coupon_code,description,uses_per_coupon,uses_per_customer,expiring</showField>
            </couponlisting>
        </magenest>
    </default>
</config>